body {
  background-color: #E8DEC5;
  text-align: center;
}
h1 {
  font-family: "Playfair Display";
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px
  color: #5C5555;
  text-align: center;
}
h2 {
  color: #366147;
  text-align: center;
}
h3 {
  font-family: "Playfair Display";
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 15.4px
  color: #297575;
  text-align: center;
}
p {
  font-family: "Playfair Display";
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px;
  color: black;
  text-align: center;
  font-style: bitter;
}
img {
  text-align: center;
  color: black
}
a {
  color: black
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
ul {
  text-align: center;
  list-style: inside;
}
table.center {
  margin-left:auto;
  margin-right:auto;
}
