@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,600&family=EB+Garamond:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');


body {
  background-color: #EEDDCD;
  text-align: center;
}

* {
  text-align: center;
}
h1 {
  color: black;
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 58px;
  padding-left: 10%;
  padding-right: 10%;
  float: center;
}
h2 {
  color: black;
  font-family: 'Poppins', sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 30px;
  font-style: italic;
  margin-left: 10%;
  margin-right: 10%;
}

h3 {
  color: black;
  font-family: 'Cormorant Garamond', sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  font-style: italic;
  margin-left: 10%;
  margin-right: 10%;
}

h4 {
  color: black;
  font-family: 'Poppins', sans-serif;
  font-size: 21px;
  line-height: 20px;
  margin-left: 10%;
  margin-right: 10%;
}

h4:hover {
  color: white;
}

p, ol, ul, table {
  margin-left: 10%;
  margin-right: 10%;
  color: white;
  font-family: 'Cormorant Garamond', sans-serif;
  text-align: center;
  font-size: 19px;
  line-height: 21px;
}

img.float {
  float: right;
  width: 40%;
  margin-left: 5%;
  margin-right: 5%;
}
.intro {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 100px;
  margin-left: 100px;
}
.center {
  margin-left: auto;
  margin-right: auto;
}
.button {
  text-decoration: none;
  color: white;
  background-color: #EEDDCD;
  font-family: 'Paytone One', sans-serif;
  font-size: 17px;
  margin: 35px;
  margin-top: 300px;
}

.logo {
  float: left;
  margin-left: 5%;
  margin-top: 0px;
  width: 100px;
}

.album {
  width: 40%;
  margin-left: 5%;
  margin-right: 5%;
}

.column:hover h2, {
  color: white;
}

#homebutton, #webzinebutton, #submitbutton, #reachoutbutton, #aboutbutton {
  color: black;
}

#homebutton:hover, #webzinebutton:hover, #submitbutton:hover, #reachoutbutton:hover, #aboutbutton:hover {
  color: white;
}

.header{
  max-width: 100%;
  max-height: 100vh;
  margin: auto;
}

p + ul, p + ol {
  list-style-position: inside;
}

.column {
  float: left;
  width: 30%;
  margin-left: 2.5%;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

p {
  margin-left: 10%;
  margin-right: 10%;
  color: black;
  font-family: 'Cormorant Garamond', sans-serif;
  text-align: center;
  font-size: 20px;
  line-height: 23px;
}


.blmcolumn {
  float: left;
  width: 30%;
  margin-left: 2.5%;
}

.blmcolumn p {
letter-spacing: 2px;
  line-height: 24px;
}

.blmcolumn h2{
  text-align: center;
}

.blmcolumn a:hover {
  color: white;
}

.blmhead {
  font-size:20px;
  line-height: 24px;
  margin-left: 5%;
  margin-right: 5%;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 150px;
  align-items: flex-start;
}

.flex-child {
  flex: 0 0
}

.navrow {
  display: flex;
}

.navrow:after {
  content: "";
  display: table;
  clear: both;
}

.orangehov:hover {
  color: white;
}

.nextcolumn {
  float: left;
  width: 50%;
}

.previous {
  text-align: left;
  color: #312922;
  line-height: 23px;
}

.next {
  text-align: right;
  color: black;
  line-height: 23px;
}

.switcharticle {
  color: #3A86FF
}

div.article p {
  text-align: left;
}

div.column h2:hover {
  color: white;
}
.emphasispar {
    margin-left: 10%;
    margin-right: 10%;
    color: white;
    font-weight: bold;
    font-family: 'Cormorant Garamond', sans-serif;
    text-align: center;
    font-size: 36px;
    line-height: 40px;
}
